* {
    box-sizing: border-box;
}


.vacation{
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column;
    position: relative;
    width: 550px;
    height: 204px;
}

.header{
    position: absolute;
    width: 400px;
    height: 55px;
    left: 40px;
    top: 0px;
    border-radius: 5px;
    background: #F55A5A;
}

.mapUrl{
    /* View on Google Maps */
    position: absolute;
    width: 106px;
    height: 13px;
    left: 230px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #918E9B;
}

.location{
    position: absolute;
    width: 40px;
    height: 10px;
    left: 185px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}

.myTravelJournal{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 144px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}

.title{
    position: absolute;
    width: 326px;
    height: 40px;
    left: 185px;
    top: 120px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #2B283A;
}

.dates{
    /* 12 Jan, 2021 - 24 Jan, 2021 */
    position: absolute;
    width: 319px;
    height: 11px;
    left: 185px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.description{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 185px;
    top: 180px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #2B283A;
}

.destination{
    position: absolute;
    width: 470px;
    height: 252px;
    left: 40px;
    top: 16px;
}


.photo{

    position: absolute;
    width: 20%;
    left: 40px;
    top: 100px;
    aspect-ratio: 2 / 3;
    border-radius: 5px;
}

